pdfs/

project_contents/

generated_project_pages/

contents/

project_templates/

eval_result/

__pycache__

**/__pycache__/**

templates/**/*.wav
templates/**/*.mp4
templates/**/*.gif
templates/**/*.webm
templates/**/*.mov
templates/**/*.pdf*.ttf
templates/**/*.pdf

*.woff
*.woff2


run_gradio_*
